# Node modules
node_modules/
package-lock.json

# Production build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

# Optional: if using TypeScript
*.tsbuildinfo

# Optional: if using testing tools
coverage/
jest-test-results.json

# Optional: if using IDEs
.vscode/
.idea/

UI-UX-project-jaya.zip
crm-cbe-lates.zip     
crm-cbe-mistake.zip   
crm-cbe1.zip
crm-cbe2.zip